<%- include('./includes/head.ejs') %>
    <div id="log" class="container-fluid">

        <!-- Page Heading -->

        <div class="container">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Generate Purchase Bill</h1>

                                </div>
                                <form action="/addcoffeebill" method="POST" id="addloading">
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Date</label>
                                            <input autofocus tabindex="2" required type="date" value="<%=todaydate%>" name="date" class="form-control form-control-user" id="exampleFirstName" placeholder="Date">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Seller</label>
                                            <input tabindex="3" required type="text" name="seller" autocomplete="OFF" list="loadsname" class="form-control form-control-user" id="exampleFirstName" placeholder="Seller or Buyer name">
                                        </div>
                                        <datalist id="loadsname">
                                            <%for(let docs of doc){%>
                                            <option value="<%=docs%>">
                                            <%}%>
                                          </datalist>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Product</label>
                                            <select tabindex="4" required class="form-control form-control-user" name="product" id="product">
                                               <option value="coffee">Coffee</option>
                                               <option value="pepper">Pepper</option>
                                      
                                           </select>
                                        </div>

                                    </div>
                                    <div id="coffee-type" class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Type</label>
                                            <select tabindex="5" required class="form-control form-control-user" name="type" id="">
                                               <option value="coffee">Robust</option>
                                               <option value="pepper">Arabica</option>
                                               <option value="pepper">Old</option>
                                           </select>
                                        </div>

                                    </div>
                                    <div id="hintdiv" style="display: none;" class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Comment</label>
                                            <input tabindex="5" required type="text" name="hint" id="hint" class="form-control form-control-user" id="exampleFirstName" placeholder="Comment">
                                        </div>

                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Bags</label>
                                            <input tabindex="6" required type="number" name="bags" id="bags" class="form-control form-control-user" id="exampleFirstName" placeholder="No of Bags">
                                        </div>

                                    </div>
                                    <input type="hidden" name="totalkg" id="totalkg">

                                    <hr>

                                    <label id="lab" for="">Weights</label>
                                    <div id="inputFormRow" class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0 input-group">
                                            <h3 style="margin-right:5px;">1.</h3><span></span><input required type="number" step=".01" name="weight" tabindex="7" class="form-control form-control-user kg newinput " placeholder="Enter Bag Weight or average weight" onblur="this.value=removeSpaces(this.value);"
                                                autocomplete="off"></div>
                                    </div>
                                    <div id="newRow">
                                    </div>
                                    <input type="button" value="Add different Sack Weight" id="addRow" class="btn btn-primary btn-user btn-block col-sm-12 mb-3 mb-sm-0"></input>
                                    <br>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Cutting per bag / 50 kg</label>
                                            <input tabindex="12" required type="number" step=".01" name="cutting" value=".2" class="form-control form-control-user" id="cutting" placeholder="Enter Price">
                                        </div>

                                    </div>
                                    <hr>

                                    <h4>Total <span style="float: right;" id="totalkgspan"></span></h4>


                                    <hr>


                                    <div id="coffee-market">
                                        <div class="form-group row">
                                            <div class="col-sm-12 mb-3 mb-sm-0">
                                                <label for="">Autumn</label>
                                                <input tabindex="8" type="number" step=".01" name="autumn" class="form-control form-control-user addcutting-elm" id="outum" placeholder="Outumn">
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12 mb-3 mb-sm-0">
                                                <label for="">Moisture</label>
                                                <input tabindex="9" type="number" step=".01" name="moisture" class="form-control form-control-user addcutting-elm" id="moisture" placeholder="Moisture">
                                            </div>

                                        </div>

                                        <button form="12" id="addcutting" onclick="addcutting()" class="btn btn-primary btn-user btn-block col-sm-12 mb-3 mb-sm-0 ">
            Add Moisture Cutting
          </button>
                                        <div id="aftercutting" style="display: none;"> <br>
                                            <hr>
                                            <h4>M. C. <span style="float: right;" id="remainingkg"></span> </h4>

                                            <h4>E. C. <span style="float: right;" id="expected"></span> </h4>

                                            <hr>



                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Market</label>
                                            <input tabindex="10" required type="number" step=".01" name="market" class="form-control form-control-user" id="market" placeholder="Enter Price">
                                        </div>

                                    </div>
                                    <div id="coffeepricedetermine" class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="">Price per kg</label>
                                            <input type="number" step=".001" name="priceperkg" class="form-control form-control-user " id="kilogramprice" value="0">
                                        </div>

                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <label for="">Price per bag</label>
                                            <input type="number" step=".001" name="priceperbag" class="form-control form-control-user" id="bagprice" value="0">
                                        </div>

                                    </div>



                                    <hr>
                                    <h4>Total <span style="float: right;" id="totalprice"></span> </h4>
                                    <hr>
                                    <input type="hidden" name="totalmoney" id="totalmoney">
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <label for="">Paid</label>
                                            <input tabindex="12" required type="number" step=".01" name="paid" value="0" class="form-control form-control-user" id="paid" placeholder="Enter Price">
                                        </div>

                                    </div>

                                    <input type="hidden" name="total" id="total">
                                    <input type="hidden" name="balance" id="balance">
                                    <hr>
                                    <h4>Balance amount <span style="float: right;" id="balance_payment"></span> </h4>
                                    <br>
                                    <div class=" form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <button id="submitbtn" type="submit" form="addloading" class="btn btn-primary  col-sm-5 mb-3 ">
                                        Save bill
                                      </button>
                                            <button id="submitbtn" type="submit" form="addloading" class="btn btn-danger  col-sm-5 mb-3">
                                        Save And print bill
                                      </button>
                                        </div>

                                </form>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <!-- /.container-fluid -->

    </div>
    <script>
        // add row
        var count = 2
        var kg;
        $("#addRow").click(function() {
            document.getElementById("bags").required = false;
            $("#kgtotal").show()
            var html = '';
            html += '<div id="inputFormRow" class="form-group row">';
            html += '<div class="col-sm-12 mb-3 mb-sm-0 input-group">';
            html += '<h3 style="margin-right:5px;">' + count + '.</h3><span></span><input id="newworker" required type="number" step=".01" class="form-control kg form-control-user newinput " placeholder="Enter Bag Weight"  onblur="this.value=removeSpaces(this.value);" autocomplete="off">';

            html += '</div>';

            $('#newRow').append(html);
            $('#submitbtn').show();
            s = document.getElementsByClassName('newinput')
            s[s.length - 1].focus()
            document.getElementById('bags').value = count;
            count++
            kg = document.getElementsByClassName('kg')

        });

        const log = document.getElementById('log');

        document.addEventListener('keydown', logKey);

        function logKey(e) {
            if (e.shiftKey) {
                document.getElementById("bags").required = false;
                $("#kgtotal").show()
                var html = '';
                html += '<div id="inputFormRow" class="form-group row">';
                html += '<div class="col-sm-12 mb-3 mb-sm-0 input-group">';
                html += '<h3 style="margin-right:5px;">' + count + '.</h3><span></span><input id="newworker" required type="number" step=".01" name="workername" class="form-control kg form-control-user newinput " placeholder="Enter Bag Weight"  onblur="this.value=removeSpaces(this.value);" autocomplete="off">';

                html += '</div>';

                $('#newRow').append(html);
                $('#submitbtn').show();
                s = document.getElementsByClassName('newinput')
                s[s.length - 1].focus()
                document.getElementById('bags').value = count;
                count++
                kg = document.getElementsByClassName('kg')

            } else if (e.altKey) {
                $("#addloading").submit()
            } else {

            }
        }


        $(function() {
            var tabindex = 1;
            $('input,select').each(function() {
                if (this.type != "hidden") {
                    var $input = $(this);
                    $input.attr("tabindex", tabindex);
                    tabindex++;
                }
            });
        });



        // remove row
    </script>
    <script type="text/javascript">
        var perbag, perkg, total;
        $(document).ready(function() {
            $("#addcutting").hide();

            $('.addcutting-elm').on('keyup', function() {
                var showBtn = true;
                // Check all inputs
                $('.addcutting-elm').each(function() {
                    showBtn = showBtn && ($(this).val() !== "");
                }); //Edited
                // Hide or show the button according to the boolean value
                $("#addcutting").toggle(showBtn);
            });
            $('#market').on('keyup', function() {
                perbag = (cutting * $(this).val()).toFixed(2);
                perkg = (perbag / 50).toFixed(2)
                var total
                if ($('#product').val() == "coffee") {
                    total = parseInt(sm * perkg);
                } else {
                    total = parseInt(sm * $(this).val());
                }

                document.getElementById('totalprice').innerText = total + "₹"
                document.getElementById('bagprice').value = perbag
                document.getElementById('kilogramprice').value = perkg
                document.getElementById('totalmoney').value = parseInt(total)
                document.getElementById('total').value = parseInt(total)
            }); //Edited
            $('#bagprice').on('keyup', function() {
                perkg = ($(this).val() / 50).toFixed(2);
                total = parseInt(sm * perkg);
                document.getElementById('totalprice').innerText = total + "₹"
                document.getElementById('kilogramprice').value = perkg
                document.getElementById('totalmoney').value = parseInt(total)
                document.getElementById('total').value = parseInt(total)
            });
            $('#kilogramprice').on('keyup', function() {
                perbag = ($(this).val() * 50).toFixed(2);
                total = parseInt(sm * $(this).val());
                document.getElementById('totalprice').innerText = total + "₹"
                document.getElementById('bagprice').value = perbag
                document.getElementById('totalmoney').value = parseInt(total)
                document.getElementById('total').value = parseInt(total)
            });
            var balance
            $('#paid').on('keyup', function() {
                console.log("hi")
                balance = parseInt(total - $(this).val());
                document.getElementById('balance_payment').innerText = balance + "₹"
                document.getElementById('balance').value = parseInt(balance)
                console.log(balance)
            });

            $('#cutting').on('keyup', function() {
                sum = 0;
                cut = document.getElementById('cutting').value;
                $(".kg").each(function() {
                    sum += +$(this).val();
                });
                if (document.getElementsByClassName('kg').length < 2) {
                    bag = document.getElementById('bags').value;
                    sm = (sum * bag) - (bag * cut)
                    document.getElementById('totalkgspan').innerText = sm.toFixed(2) + " kg";
                    document.getElementById('totalkg').value = sm.toFixed(2);
                } else {
                    sm = sum - (count * cut)
                    document.getElementById('totalkgspan').innerText = sm.toFixed(2) + "kg"
                    document.getElementById('totalkg').value = sm.toFixed(2);
                }
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {


            $('#product').on('change', function() {
                console.log($(this).val())
                var action = $(this).val() == "coffee" ? "/addcoffeebill" : "/addpepperbill";
                $("#addloading").attr("action", action);
                if ($(this).val() == "coffee") {

                    $('#coffee-type').show();
                    $('#pepper-price').hide();
                    $('#coffee-market').show();
                } else {
                    $('#hintdiv').show();
                    $('#coffeepricedetermine').hide();
                    $('#coffee-type').hide();
                    $('#pepper-price').show();
                    $('#coffee-market').hide();
                }

            })


        })

        var sum;
        $(document).on("keyup", ".kg", function() {
            sum = 0;
            cut = document.getElementById('cutting').value;
            $(".kg").each(function() {
                sum += +$(this).val();
            });
            if (document.getElementsByClassName('kg').length < 2) {
                bag = document.getElementById('bags').value;
                sm = (sum * bag) - (bag * cut)
                document.getElementById('totalkgspan').innerText = sm.toFixed(2) + " kg";
                document.getElementById('totalkg').value = sm.toFixed(2);
            } else {
                sm = sum - (count * cut)
                document.getElementById('totalkgspan').innerText = sm.toFixed(2) + "kg"
                document.getElementById('totalkg').value = sm.toFixed(2);
            }


        });
        $(document).on("keyup", "#outum", function() {
            cutting = $(this).val();
        })

        var cutting
        var sm

        function addcutting() {
            $('#market').focus();

            var g = 0
            if (document.getElementsByClassName('kg').length < 2) {
                bag = document.getElementById('bags').value;
                sm = sum * bag;

            } else {
                sm = sum

            }
            m = document.getElementById('moisture').value
            g = $('#outum').val()

            if (m > 15) {
                cutting = (g - ((m - 15) * 0.6) + .6)
                console.log(g)
            } else {
                cutting = (g - ((m - 13) * 0.3))
            }
            $('#aftercutting').show();
            estimated = cutting / 50 * sm
            document.getElementById('remainingkg').innerText = cutting.toFixed(2)
            document.getElementById('expected').innerText = estimated.toFixed(1) + " Kg"

        }
    </script>
    <script language="javascript" type="text/javascript">
        function removeSpaces(string) {
            return string.trim();
        }
    </script>
    <%- include('./includes/end.ejs') %>