<%- include('./includes/head.ejs') %>
    <div id="log" class="container-fluid">

        <!-- Page Heading -->


        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Generate Bill
            </h1>


        </div>
        <table class="" width="100%" cellspacing="0">

            <tbody>
                <form id="buyerform" action="/addcoffeebill" method="POST">
                    <tr>
                        <td colspan="4">
                            <table class="" width="100%" cellspacing="0">
                                <tr>
                                    <th>Date</th>
                                    <th>Bill Type</th>
                                    <th>Bill To</th>
                                    <th>Product</th>



                                </tr>

                                <tr>
                                    <td><input autofocus required tabindex="3" name="date" class="form-control" id="date" type="date" value="<%=todaydate%>" style="width: 200px;" id="date"></td>

                                    <td><select id="billtype" tabindex="4" required class="p-1 form-control" style="width: 250px;" name="billtype">
                                        <option value="purchase">Purchase</option>
                                        <option value="sales">Sales</option>
                                    </select></td>

                                    <td><input required class="form-control price-control" tabIndex="5" type="text" step=".01" name="name" style="width: 300px;" id="name"></td>
                                    <td> <select style="width: 300px;" tabindex="6" required class="form-control form-control-user" name="product" id="product">
                                        <option value="robust">Robust Coffee Cherry </option>
                                        <option value="arabica">Arabica Coffee Cherry </option>
                                        <option value="old">Old Coffee Cherry </option>
                                        <option value="robustgrains">Robust Coffee Grains</option>
                                        <option value="arabicagrains">Arabica Coffee Grains</option>
                                        <option value="pepper">Pepper</option>
                                       
                                    </select></td>



                                </tr>
                        </td>
                    </tr>
                    </table>
                    <table class="" width="100%" cellspacing="0">
                        <tr>
                            <td colspan="4">
                                <tr>
                                    <th>Add Weight</th>
                                    <th>Total Bags</th>

                                    <th>Cutting Kg</th>
                                    <th class="coffee-att">Moisture</th>
                                    <th class="coffee-att">Autumn</th>
                                </tr>
                                <tr>

                                    <td><input class="p-1 form-control" style="width: 250px;" tabIndex="7" type="number" step=".01" name="singleweight" id="singleweight"></td>


                                    <td><input class="p-1 form-control" style="width: 150px;" tabIndex="8" type="number" name="bags" id="bags"></td>
                                    <td><input class="p-1 form-control" style="width: 150px;" tabIndex="9" type="number" value="0" step=".01" name="cuttingperbag" id="cuttingperbag"></td>
                                    <td><input class="p-1 form-control coffee-att" style="width: 150px;" tabIndex="10" type="number" step=".01" name="moisture" id="moisture"></td>
                                    <td><input class="p-1 form-control coffee-att" style="width: 150px;" tabIndex="11" type="number" step=".01" name="autumn" id="autumn"></td>

                                </tr>
                            </td>
                        </tr>
                    </table>
                    <table class="" width="100%" cellspacing="0">
                        <tr>
                            <td colspan="4">
                                <tr>
                                    <th></th>
                                    <th class="coffee-att">Moisture single cutting @</th>

                                    <th class="coffee-att">Moisture double cutting @</th>


                                    <th></th>
                                    <th class="coffee-att">After cutting</th>
                                </tr>
                                <tr>
                                    <td> <a href="#" class="btn btn-primary" id="addRow" style=" width: 250px; height: 40px;">Add weight</a>

                                    </td>
                                    <td><input class="p-1 form-control coffee-att" style="width: 200px;" tabIndex="12" type="number" step=".01" name="moisturesinglecutting" value="13" id="moisturesinglecutting"></td>
                                    <td><input class="p-1 form-control coffee-att" style="width: 200px;" tabIndex="13" value="16" type="number" step=".01" name="moisturedoublecutting" id="moisturedoublecutting"></td>

                                    <td> <a href="#" class="btn btn-danger coffee-att" id="addmoisturecut" style=" width: 200px; height: 40px;">Add moisture cutting</a>
                                        <td><input class="p-1 form-control coffee-att" style="width: 150px;" tabIndex="14" type="number" step=".01" name="cuttedautumn" id="cuttedautumn"></td>

                                    </td>
                                </tr>
                            </td>
                        </tr>
                    </table>
                    <tr>
                        <th colspan="4">
                            <h4>
                                <hr>
                            </h4>
                        </th>
                    </tr>
                    <tr>

                        <td rowspan="5" colspan="3">
                            <div style="height: 300px;
                        overflow-y: auto;">
                                <table id="weighttable" class="table table-bordered">

                                </table>
                            </div>
                        </td>
                        <th class="coffee-att" style="padding: 10px;">
                            <label for="">Market</label>
                            <input class="p-1 form-control" style="width: 300px;" tabIndex="15" type="number" step=".01" name="market" id="market"></th>

                    </tr>
                    <tr>

                        <th style="padding: 10px;"><label for="">Price per kg</label>
                            <input class="p-1 form-control" style="width: 300px;" tabIndex="16" type="number" step=".01" name="priceperkg" id="priceperkg"></th>
                    </tr>
                    <tr>
                        <th style="padding: 10px;"><label for="">Price per bag</label>
                            <input class="p-1 form-control" style="width: 300px;" tabIndex="17" type="number" step=".01" name="priceperbag" id="priceperbag"></th>
                    </tr>
                    <tr>
                        <th style="padding: 10px;"><label for="">Total</label>
                            <input class="p-1 form-control" style="width: 300px;" tabIndex="18" type="number" step=".01" name="total" id="totalamount"></th>
                    </tr>
                    <tr>
                        <th colspan="4">
                            <hr>
                        </th>

                    </tr>
                    <tr>
                        <th colspan="4">
                            <hr>
                        </th>


                    </tr>
                    <tr>
                        <td>
                            <h4>Total Weight</h4>
                        </td>
                        <td>
                            <h4>Weight after Cutting</h4>
                        </td>
                        <td>
                            <h4>Price per kg</h4>
                        </td>
                        <td>
                            <h4>Total amount</h4>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 300px;">
                            <h4 id="totalkgspan"></h4>
                        </td>
                        <td style="width: 300px;">
                            <h4 id="totalcuttingkgspan"></h4>
                        </td>
                        <td style="width: 300px;">
                            <h4 id="totalpriceperkg"></h4>
                        </td>
                        <td style="width: 300px;">
                            <h4 id="totalproductamount"></h4>
                        </td>


                    </tr>
                    <tr>
                        <th colspan="4">
                            <hr>
                        </th>


                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td> <button form="buyerform" class="btn btn-primary" id="submit" style=" width: 300px; height: 40px;" type="submit">Save bill</button>

                        </td>
                        <td> <button form="buyerform" class="btn btn-success" id="submit" style=" width: 300px; height: 40px;" type="submit">Generate Invoice</button>


                    </tr>
                    <tr>
                        <th colspan="4">
                            <hr>
                        </th>


                    </tr>
                </form>
            </tbody>
        </table>


        <!-- End of Topbar -->

        <!-- Begin Page Content -->

        <!-- /.container-fluid -->

    </div>
    <script>
        // add row
        var count = 1
        var sumkg
        var weights = []
        $("#addRow").click(function() {
            sumkg = 0
            var m;
            $('#weighttable').empty();
            document.getElementById("bags").required = false;
            // $("#kgtotal").show()
            weg = document.getElementById("singleweight").value
            weights.push(weg)

            var html = '';
            for (var l = 0; l < weights.length;) {
                html += '<tr id="" class="">';
                for (m = l + 0; m < l + 10 && m < weights.length; m++) {
                    html += '<td id="" class=""><h5>'
                    html += (m + 1) + ' B. <span style="color:red">' + weights[m] + 'kg</span></h5>';
                    html += '</td>';
                }
                html += '</>';
                l = l + 10
            }
            $('#weighttable').append(html);



            for (let i = 0; i < weights.length; i++) {
                sumkg += parseFloat(weights[i]);
            }
            document.getElementById('bags').value = m
            kgcuttingsum = sumkg
            document.getElementById('totalkgspan').innerText = sumkg + " kg"



            document.getElementById("singleweight").focus()



        });

        //     const log = document.getElementById('log');

        //     document.addEventListener('keydown', logKey);

        //     function logKey(e) {
        //         if (e.shiftKey) {
        //             document.getElementById("bags").required = false;
        //             $("#kgtotal").show()
        //             var html = '';
        //             html += '<div id="inputFormRow" class="form-group row">';
        //             html += '<div class="col-sm-12 mb-3 mb-sm-0 input-group">';
        //             html += '<h3 style="margin-right:5px;">' + count + '.</h3><span></span><input id="newworker" required type="number" step=".01" name="workername" class="form-control kg form-control-user newinput " placeholder="Enter Bag Weight"  onblur="this.value=removeSpaces(this.value);" autocomplete="off">';

        //             html += '</div>';

        //             $('#newRow').append(html);
        //             $('#submitbtn').show();
        //             s = document.getElementsByClassName('newinput')
        //             s[s.length - 1].focus()
        //             document.getElementById('bags').value = count;
        //             count++
        //             kg = document.getElementsByClassName('kg')

        //         } else if (e.altKey) {
        //             $("#addloading").submit()
        //         } else {

        //         }
        //     }


        //     $(function() {
        //         var tabindex = 1;
        //         $('input,select').each(function() {
        //             if (this.type != "hidden") {
        //                 var $input = $(this);
        //                 $input.attr("tabindex", tabindex);
        //                 tabindex++;
        //             }
        //         });
        //     });



        //     // remove row
        //
    </script>

    <script type="text/javascript">
        $('#market').on('keyup', function() {
            autumn = document.getElementById('cuttedautumn').value
            perbag = (autumn * $(this).val()).toFixed(2);
            perkg = (perbag / 50).toFixed(2)
            total = parseInt(kgcuttingsum * perkg);
            document.getElementById('totalproductamount').innerText = total + "₹"
            document.getElementById('priceperbag').value = perbag
            document.getElementById('priceperkg').value = perkg

            document.getElementById('totalpriceperkg').innerText = perkg + "₹"
            document.getElementById('totalamount').value = parseInt(total)

        });
        $('#priceperbag').on('keyup', function() {
            perkg = ($(this).val() / 50).toFixed(2);
            total = parseInt(afterkgcutting * perkg);
            document.getElementById('totalproductamount').innerText = total + "₹"
            document.getElementById('priceperkg').value = perkg
            document.getElementById('totalamount').value = parseInt(total)
            document.getElementById('totalpriceperkg').innerText = perkg + "₹"

        });
        $('#priceperkg').on('keyup', function() {
            perbag = parseInt($(this).val() * 50)
            total = parseInt(afterkgcutting * $(this).val());
            document.getElementById('totalproductamount').innerText = total + "₹"
            document.getElementById('priceperbag').value = perbag
            document.getElementById('totalamount').value = parseInt(total)
            document.getElementById('totalpriceperkg').innerText = $(this).val() + "₹"
        });
        //         var balance
        //         $('#paid').on('keyup', function() {
        //             console.log("hi")
        //             balance = parseInt(total - $(this).val());
        //             document.getElementById('balance_payment').innerText = balance + "₹"
        //             document.getElementById('balance').value = parseInt(balance)
        //             console.log(balance)
        //         });
        var afterkgcutting
        $('#cuttingperbag').on('keyup', function() {
            afterkgcutting = 0;
            cut = document.getElementById('cuttingperbag').value;
            bags = document.getElementById('bags').value
            afterkgcutting = sumkg - parseFloat(cut)

            document.getElementById('totalcuttingkgspan').innerText = afterkgcutting.toFixed(2) + " kg";

        });

        //     });
        //
    </script>

    <script type="text/javascript">
        $(document).ready(function() {


            $('#product').on('change', function() {

                // var action = $(this).val() == "coffee" ? "/addcoffeebill" : "/addpepperbill";
                // $("#addbill").attr("action", action);
                if ($(this).val() == "pepper") {
                    var action = $("#billtype").val() == "purchase" ? "/addpepperbill" : "/addpeppersalesbill";
                    $("#buyerform").attr("action", action);
                    $('.coffee-att').hide();

                } else {
                    var action = $("#billtype").val() == "purchase" ? "/addcoffeebill" : "/addcoffeesalesbill";
                    $("#buyerform").attr("action", action);
                    $('.coffee-att').show();
                }

            })

            $('#billtype').on('change', function() {

                if ($(this).val() == "purchase") {
                    var action = $('#product').val() == "pepper" ? "/addpepperbill" : "/addcoffeebill";
                    $("#buyerform").attr("action", action);


                } else {
                    var action = $('#product').val() == "pepper" ? "/addpeppersalesbill" : "/addcoffeesalesbill";
                    $("#buyerform").attr("action", action);
                }

            })


        })


        $(document).on("keyup", "#autumn", function() {

            aftercutting = $(this).val();
            document.getElementById('cuttedautumn').value = aftercutting
        })
        $(document).on("keyup", "#bags", function() {
            if (weights.length < 2) {
                sumkg = 0;
                bag = document.getElementById('bags').value;
                sumkg = weights[0] * bag
                document.getElementById('totalkgspan').innerText = sumkg + " kg";
                document.getElementById('cuttingperbag').value = 0;
                kgcuttingsum = sumkg
            }

        });
        //     $(document).on("keyup", "#outum", function() {
        //         cutting = $(this).val();
        //     })

        //     var cutting
        //     var sm

        //     function addcutting() {
        //         $('#market').focus();

        //         var g = 0
        //         if (document.getElementsByClassName('kg').length < 2) {
        //             bag = document.getElementById('bags').value;
        //             sm = sum * bag;

        //         } else {
        //             sm = sum

        //         }
        //         m = document.getElementById('moisture').value
        //         g = $('#outum').val()

        //         if (m > 15) {
        //             cutting = (g - ((m - 15) * 0.6) + .6)
        //             console.log(g)
        //         } else {
        //             cutting = (g - ((m - 13) * 0.3))
        //         }
        //         $('#aftercutting').show();
        //         estimated = cutting / 50 * sm
        //         document.getElementById('remainingkg').innerText = cutting.toFixed(2)
        //         document.getElementById('expected').innerText = estimated.toFixed(1) + " Kg"

        //     }
        //
    </script>

    <script language="javascript" type="text/javascript">
        $("#addmoisturecut").click(function() {

            moisture = document.getElementById("moisture").value;
            singlecut = document.getElementById("moisturesinglecutting").value;
            doublecut = document.getElementById("moisturedoublecutting").value;
            aut = document.getElementById("autumn").value;
            if (moisture > doublecut) {
                var first = (doublecut - singlecut) * .3

                var sec = (moisture - doublecut) * .6
                cuttedautomn = aut - (sec + first)

                document.getElementById('cuttedautumn').value = cuttedautomn
            } else if (moisture > singlecut && moisture < doublecut) {
                var first = (moisture - singlecut) * .3
                cuttedautomn = aut - first
                document.getElementById('cuttedautumn').value = cuttedautomn
            } else {
                document.getElementById('cuttedautumn').value = aut
            }

        })
    </script>
    <%- include('./includes/end.ejs') %>