<%- include('./includes/head.ejs') %>


    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-clipboard-list float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" href="http://">Check attendnce</a> </h2>

                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-dollar-sign float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" href="http://">Loading wage</a> </h2>

                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-bars float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" href="http://">Employee Wage</a> </h2>

                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-user float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" href="http://">Loari rent</a> </h2>

                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-user float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" href="http://">Employee Loans</a> </h2>

                    </div>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">

                <div class="card o-hidden border-0 shadow-lg my-3">
                    <div class="card-body p-5 bg-primary">
                        <i class="fa fa-4x fa-user float-right text-white"></i>
                        <h2> <a class="text-white text-decoration-none" class="" href="/login">User login</a> </h2>

                    </div>
                </div>

            </div>



        </div>

    </div>

    <%- include('./includes/end.ejs') %>