<%- include('./includes/head.ejs') %>


    <div class="container-fluid">

        <!-- Page Heading -->


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mark attendance
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="dataTable" width="100%" cellspacing="0">

                        <form id="buyerform" action="">
                            <tr>
                                <td colspan="6">
                                    <h4>Name</h4>
                                </td>
                                <td><input style=" height: 25px; width: 25px;" tabIndex="2" type="checkbox" name="" id=""></td>
                            </tr>

                        </form>

                    </table><button class="btn btn-primary col-sm-12 mb-3 mb-sm-0">Submit</button>
                </div>
            </div>
        </div>

    </div>

    <%- include('./includes/end.ejs') %>