<select class="form-control form-control-user js-example-basic-single" id="list_loaders" onchange="check_loader()">
    <option value="">Search names</option>
      <%for(let docs of loads){%>
        <option value="<%=docs%>"><%=docs%></option>
      <%}%>
</select>

<select class="form-control form-control-user js-example-basic-single" id="list_sellers" onchange="check_seller()">
    <option value="">Search names</option>
      <%for(let docs of loads){%>
        <option value="<%=docs%>"><%=docs%></option>
      <%}%>
 </select>


<!-- purchse -->
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Seller/Buyer</th>
                    <th>Type</th>
                    <th>Kilogram</th>
                    <th>Prize</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Remaining</th>
                    <th>Through</th>
                    <th>Hint</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Date</th>
                    <th>Seller/Buyer</th>
                    <th>Type</th>
                    <th>Kilogram</th>
                    <th>Prize</th>
                    <th>Total</th>
                    <th>Paid</th>
                    <th>Remaining</th>
                    <th>Through</th>
                    <th>Hint</th>
                    <th>Edit</th>

                </tr>
            </tfoot>
            <tbody>
                <%
 internationalNumberFormat = new Intl.NumberFormat('en-US')
 var length;
 if (seller.length < buyer.length){
     length = buyer.length
 } else{
     length= seller.length
 }
 var totalsales = 0;
 var bagsales = 0;
 var salespaid = 0;
 var totalpurchase = 0;
 var bagpurchase = 0;
 var purchasepaid = 0;
 
 for (var i = 0; i < length; i++){%>
                    <%if(i < seller.length){
         totalpurchase = totalpurchase + seller[i].deal.total;
         bagpurchase = bagpurchase + seller[i].deal.kilogram;
         purchasepaid = purchasepaid + seller[i].deal.paid;
           %>
                        <tr id="purchase" class="purchase">
                            <td>
                                <%= moment(seller[i].deal.date).format( 'DD-MMM-YYYY') %>

                            </td>
                            <td>
                                <a href="/individualpurchase/<%=seller[i].name%>">

                                    <%=seller[i].name%>
                                </a>
                            </td>
                            <td>
                                Purchase
                            </td>

                            <td class="totalpurchasekg">
                                <%=seller[i].deal.kilogram.toLocaleString()%>
                            </td>
                            <td class="">
                                <%=seller[i].deal.price%>
                            </td>
                            <td class="totalpurchaseamount">
                                <%=seller[i].deal.total.toLocaleString()%>
                            </td>
                            <td class="totalpurchasepaid" style="color: brown;">
                                <%=seller[i].deal.paid.toLocaleString()%>
                            </td>
                            <td class="totalpurchaseremaining">
                                <%=seller[i].deal.Remaining.toLocaleString()%>
                            </td>
                            <td class="">
                                <%=seller[i].deal.through%>
                            </td>
                            <td class="">
                                <%=seller[i].deal.hint%>
                            </td>
                            <td><a href="#" onclick="editpurchase('<%=i%>')" class="btn btn-primary">edit</a>

                        </tr>
                        <%}%>
                            <%if(i < buyer.length){
                 totalsales = totalsales + buyer[i].deal.total;
                 bagsales = bagsales + buyer[i].deal.kilogram;
                 salespaid = salespaid + buyer[i].deal.paid;
                 %>
                                <tr class="sales" style="background: rgba(230, 230, 230, 0.918);">
                                    <td>
                                        <%= moment(buyer[i].deal.date).format( 'DD-MMM-YYYY') %>

                                    </td>
                                    <td>

                                        <a href="/individualsales/<%=buyer[i].name%>">
                                            <%=buyer[i].name%>
                                        </a>

                                    </td>
                                    <td>Sales</td>

                                    <td class="totalsaleskg">
                                        <%=buyer[i].deal.kilogram.toLocaleString()%>
                                    </td>
                                    <td class="">
                                        <%=buyer[i].deal.price%>
                                    </td>
                                    <td class="totalsalesamount">
                                        <%=buyer[i].deal.total.toLocaleString() %>
                                    </td>
                                    <td class="totalsalespaid" style="color: green;">
                                        <%=buyer[i].deal.paid.toLocaleString()%>
                                    </td>
                                    <td class="totalsalesremaining">
                                        <%=buyer[i].deal.Remaining.toLocaleString()%>
                                    </td>
                                    <td class="">
                                        <%=buyer[i].deal.through%>
                                    </td>
                                    <td class="">
                                        <%=buyer[i].deal.hint%>
                                    </td>
                                    <td><a href="#" onclick="editsales('<%=i%>')" class="btn btn-primary">edit</a>

                                    </td>
                                </tr>
                                <%}%>
                                    <%}%>
            </tbody>
        </table>
    </div>
</div>
<!-- 
    <div class="modal fade" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="editcustomers"></span> <span id="edittype"></span></h5>
                    <a class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </a>
                </div>
                <div class="modal-body">
                    <form id="editform" action="/editorder" method="POST">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Date</label>
                                <input type="date" required class="form-control form-control-user" id="editdate" tabindex="42" name="editdate">
                            </div>
                            <input type="hidden" class="form-control form-control-user" id="section" name="section">

                            <input type="hidden" class="form-control form-control-user" value="detailedsalesandpurchase" name="types">


                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Autumn</label>
                                <input type="number" tabindex="43" class="form-control form-control-user" id="editoutumn" step=".01" name="autumn">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Moisture</label>
                                <input type="number" tabindex="44" class="form-control form-control-user" id="editmoisture" step=".01" name="moisture">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Hint / careoff</label>
                                <input type="text" tabindex="45" class="form-control form-control-user" id="editcareoff" name="hint">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Bags</label>
                                <input type="number" tabindex="46" class="form-control form-control-user" id="editbags" name="editbags">
                            </div>

                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Kilogram</label>
                                <input required type="number" tabindex="47" class="form-control form-control-user price-control" id="editkilogram" step=".01" name="editkilogram">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Prize</label>
                                <input required type="number" tabindex="48" class="form-control form-control-user price-control" id="editprize" step=".01" name="editprize">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Total</label>
                                <input required type="number" tabindex="49" class="p-1" id="edittotal" step=".01" name="edittotal">

                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Paid</label>
                                <input required type="number" tabindex="50" class="form-control form-control-user" id="editpaid" name="editpaid">
                            </div>
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label for="">Remaining</label>
                                <h5 id="editremaining"> </h5>
                            </div>


                            <input type="hidden" name="through" id="thre">

                            <input type="hidden" name="previoustotal" id="previoustotal">
                            <input type="hidden" name="previouspaid" id="previouspaid">
                            <input type="hidden" value="" name="arrayid" id="arrayid">
                            <input type="hidden" value="" name="objectid" id="objectid">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <a id="deletebutton" class="btn btn-danger" onclick="return confirm('are you sure you want to delete this?')">Delete</a>

                    <button tabindex="51" form="editform" class="btn btn-primary" type="submit">Edit Deal</button>
                </div>
            </div>

        </div>
    </div> -->
// function editsales(i) { // var obj =

<%- JSON.stringify(buyer) %>; // document.getElementById("deletebutton").href = "/deletesales/" + obj[i]._id + "/" + obj[i].deal._id + "/nonseperate/" + obj[i].deal.total + "/" + obj[i].deal.paid; // var today = moment(obj[i].deal.date).format('YYYY-MM-DD'); // document.getElementById("editdate").value
    = today; // document.getElementById('edittype').innerText = "sales"; // document.getElementById('editcustomers').innerText = obj[i].name; // document.getElementById('editbags').value = obj[i].deal.bags; // document.getElementById('editkilogram').value
    = obj[i].deal.kilogram // document.getElementById('edittotal').value = obj[i].deal.total // document.getElementById('editpaid').value = obj[i].deal.paid // document.getElementById('editremaining').innerText = obj[i].deal.Remaining.toLocaleString();
    // document.getElementById('objectid').value = obj[i]._id; // document.getElementById('arrayid').value = obj[i].deal._id; // document.getElementById('section').value = "sales" // document.getElementById('editoutumn').value = obj[i].deal.outumn; //
    document.getElementById('editmoisture').value = obj[i].deal.moisture; // document.getElementById('editcareoff').value = obj[i].deal.hint; // document.getElementById('editprize').value = obj[i].deal.price; // document.getElementById('previoustotal').value
    = obj[i].deal.total; // document.getElementById('previouspaid').value = obj[i].deal.paid; // document.getElementById('thre').value = obj[i].deal.through; // $('#editmodel').modal('show') // } // function editpurchase(i) { // var obj =
    <%- JSON.stringify(seller) %>; // document.getElementById("deletebutton").href = "/deletepurchase/" + obj[i]._id + "/" + obj[i].deal._id + "/nonseperate/" + obj[i].deal.total + "/" + obj[i].deal.paid; // var today = moment(obj[i].deal.date).format('YYYY-MM-DD'); // document.getElementById("editdate").value
        = today; // document.getElementById('edittype').innerText = "purchase"; // document.getElementById('editcustomers').innerText = obj[i].name; // document.getElementById('section').value = "purchase" // document.getElementById('editbags').value
        = obj[i].deal.bags; // document.getElementById('editkilogram').value = obj[i].deal.kilogram; // document.getElementById('edittotal').value = obj[i].deal.total; // document.getElementById('objectid').value = obj[i]._id; // document.getElementById('arrayid').value
        = obj[i].deal._id; // document.getElementById('editpaid').value = obj[i].deal.paid // document.getElementById('editremaining').innerText = obj[i].deal.Remaining.toLocaleString(); // document.getElementById('editoutumn').value = obj[i].deal.outumn;
        // document.getElementById('editmoisture').value = obj[i].deal.moisture; // document.getElementById('editcareoff').value = obj[i].deal.hint; // document.getElementById('editprize').value = obj[i].deal.price; // document.getElementById('previoustotal').value
        = obj[i].deal.total; // document.getElementById('previouspaid').value = obj[i].deal.paid; // document.getElementById('thre').value = obj[i].deal.through; // $('#editmodel').modal('show') // } \